.section-client__caption{
  color: $main-color;
  font-family: $roboto-fonts;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
}
.client-list{
  margin-top: 50px;
  margin-bottom: 94px;
  gap: 30px;
  margin-left: -15px;
}