.section-card__list {
  padding-top: 30px;
}

.section-card__item {
  padding-bottom: 30px;
  gap: 30px;
}

.wrapper_item {
  margin-left: 24px;

}

.wrapper-item-card__title {
  color: $main-color;
  font-family: $roboto-fonts;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 6%;
}

.wrapper-item-card__paragraph {
  color: $second-color;
  font-family: $roboto-fonts;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 3%;
}