.team-icon__caption {
  color: $main-color;
  font-family: $roboto-fonts;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 50px;
}
.team-image__images{
  z-index: 0;
}
.team-image {
  gap: 30px;
  margin-left: -15px;
}
.team-image__label{
position: relative;
background: $background-team-icons-color;
color: #fff;
font-family: $roboto-fonts;
font-weight: 700;
line-height: 16px;
letter-spacing: 3%;
text-transform: uppercase;
font-size: 14px;
text-align: center;
margin-top: -72px;
width: 370px;
height: 70px;
padding-top: 27px;
}