$accent-color: #2196F3;
$main-color: #212121;
$background-color: #2F303A;
$second-color: #757575;
$section-color: #F5F4FA;
$logo-color: #ffffff99;
$white-color: #fff;
$team-last-color: #000000;
$backdrop-color:#20191980;
$bg-checkbox-color: #00000099;
$border-color:#ffffff4d;
$shadow-color:#00000026;
$background-team-icons-color:#2f303acc;
  /* fonts */
$roboto-fonts: 'Roboto', sans-serif;
$raleway-fonts: 'Raleway', sans-serif;